@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Source+Code+Pro&family=Syne+Mono&family=VT323&family=Viga&display=swap');
.App {
  text-align: center;
  background-color: rgba(16, 53, 40, 0.374);
  min-height: 100vh;
  padding-bottom: 7%;
  font-family: 'Syne Mono', monospace;
  justify-content: center;
}

.App a {
  text-decoration: none;
  color:rgb(121, 60, 13)
}
.App a:hover {
  font-weight: bold;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(16, 53, 40, 0.374);

}
.spinner-random-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: "#d68736"
}
h1 {
  font-family: 'Viga', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

.app-title {
  padding-top: 20px;
  padding-bottom: 10px
}
.app-title h1{
  font-family: 'Bungee Spice', cursive;
  font-size: 500%;
}

.navbar{
  background-color: rgba(7, 7, 7, 0.700);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > div {
  margin-left: 10px;
  margin-right: 10px
}

.nav-active button {
  background-color: orange;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.nav-inactive button {
  background-color: rgba(255, 166, 0, 0.661);
  padding: 8px;
  font-family: 'VT323', monospace;
  font-size: 20px;

}
.nav-logout button {
  background-color: rgba(255, 77, 0, 0.661);
  padding: 8px;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.btn button{
  background-color: rgba(255, 166, 0, 0.661);
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'VT323', monospace;
}

.btn li{
  list-style-type: none
}
.error-message {
  color: rgba(255, 0, 43, 0.94);
  font-weight: bold;
  align-items: center;
}

.btn button:hover {
  background-color: rgba(255, 136, 0, 0.661);
  font-size: 22px;
}

.auth-page {
  background-color: rgba(16, 53, 40, 0.374);
  background-image: url("../src/assets/login-signup2.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-page form{
  text-align: left;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.580);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'VT323', monospace;
}

.footer div > a {
 text-decoration: none;
}

.dashboard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:flex-start;
  padding-top: 50px;
}

.dashboard div{
  width: 500px;  
}

.dashboard-profile-friends {
  font-size: 18px
}
.dashboard-profile-friends img{
 border-radius: 50%;
}

.bottom-padding img{
  padding-bottom: 10px;
}

.formRecipe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-profile {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  text-align: left;
}

.one-row {
  display: flex;
  justify-content: space-evenly;
  padding-left: 30%;
  padding-top: 10px;
}

.hr-profile {
  margin-left: 20%;
  margin-right: 20%;
}
.hr-recipe {
  margin-left: 10%;
  margin-right: 10%;
}

.error-page {
  background-image: url("../src/assets/fire.gif");
  background-size: 80%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  font-family: 'VT323', monospace;
}
.error-page a{
  background-color: beige;
  padding: 2px
}

.notFound-page {
  background-image: url("../src/assets/Actor.gif");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 500px;
  color: white
}

.bold {
  font-weight: bold;
}

.form-label{
  margin-right: 3vh;
}

.recipeBoxCard {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

.recipeFormCard {
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 margin: 2vh
}

.recipeFormCard input{
  border-color: orange
}
.recipeFormCard input:hover {
  border-color: rgb(252, 194, 86);
height: 10vh
}

.recipeBoxCard div {
  margin: 1vh;
}

.recipeBoxCard input {
  border-color: orange
}

.profileDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profileDetails h4{
 margin: 10vh
}

.bottom-padding img{
  padding-bottom: 10px;
}

.btndelete{
  background-color: rgba(212, 32, 32, 0.74);
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'VT323', monospace;
}
.btndelete:hover {
  background-color: rgba(255, 17, 0, 0.726);
  font-size: 22px;
}
#gameoverImg {
  justify-content: center;
}

.comment-form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.comment-display{
  background-color: rgba(242, 215, 187, 0.445);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}
.comment-display button {
  background-color: rgba(212, 32, 32, 0.74);
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'VT323', monospace;
}

.comment-display button:hover {
  background-color: rgba(255, 17, 0, 0.726);
  font-size: 22px;
}

.delete-btn {
  background-color: rgba(212, 32, 32, 0.74);
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'VT323', monospace;
}

.delete-btn:hover {
  background-color: rgba(255, 17, 0, 0.726);
  font-size: 22px;
}

.recipe-display {
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  background-image: url("../src/assets/pergamin.png");
  background-repeat: no-repeat;
  background-position: center;
}
.recipe-display h2{
  padding-left: 10%;
  padding-right: -10%
}

.main-text {
  padding-left: 1%;
  padding-right: 1%;
  background-image: url("../src/assets/pergamin.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
}
.details-page {
  /* padding-left: 20px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}