@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Mali:wght@300&family=Marhey:wght@300&family=Neucha&family=Poor+Story&family=Rubik+Bubbles&family=Russo+One&family=Sigmar+One&family=Source+Code+Pro:wght@300&family=VT323&family=Viga&display=swap');
.App {
  text-align: center;
  /* background-image: url(""); */
  /* background-repeat: no-repeat; */
  /* margin-bottom: 7% */
  background-color: rgba(16, 53, 40, 0.374);
  min-height: 100vh;


}
.navbar{
  background-color: rgba(7, 7, 7, 0.700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}

.navbar > div {
  margin-left: 10px;
  margin-right: 10px
}


.nav-active button {
  background-color: orange;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.nav-inactive button {
  background-color: rgba(255, 166, 0, 0.661);
  padding: 8px;
  font-family: 'VT323', monospace;
  font-size: 20px;

}
.nav-logout button {
  background-color: rgba(255, 77, 0, 0.661);
  padding: 8px;
  font-family: 'VT323', monospace;
  font-size: 20px;

}

.home-btn button{
  background-color: rgba(255, 166, 0, 0.661);
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.home-btn li{
  list-style-type: none
}

.home-btn button:hover {
  background-color: rgba(255, 136, 0, 0.661);
  font-size: 20px;
}

.auth-page {
  background-color: rgba(16, 53, 40, 0.374);
  background-image: url("../src/assets/login-signup2.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.auth-page form{
  text-align: left;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.580);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'VT323', monospace;
}

.footer div > a {
  /* text-align: left; */
  /* margin-left: 10px */
  text-decoration: none;
}

.dashboard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.home-dashboard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:flex-start;
}

.home-dashboard div{
  width: 500px;
}

